extends layout

block content
  a(href="/") list
  h1= "TODO"
      form(action='/add' method="post")
        input#title(type='text' name='title')
        input#memo(type='text' name='memo')
        input#limit(type='date' name='limit')
        input#submit(type='submit' value="追加")