*{
  font-weight: normal;
  font-size: 14px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  display: block;
  margin-left: 10px;
}

li a{
  display: inline;
}
input{
  display: block;
}